<div class="cube">
    <img src="{{imageUrl}}" alt="img" class="cube">
    <p class="name">{{name}}</p>
    <p><span>Difficulty Level:</span>{{difficultyLevel}}</p>
    <a class="btn" href="/cubes/{{_id}}/details">Details</a>
</div>